extends layout
block content

  #Title
    <span> Hi, I'm Karol,</span>
    <p>I create software for the 
    #rainbow(onclick="rainbow()") interweb 
    #combo(style="color:transparent; display:inline; font-size:20px;")
    
  script(src="/javascripts/mainpage.js")
  button(class="scroll", href="#Projects") 
    span Projects
    br
    i(class="fa fa-chevron-down")
  br
  br
  br
  br
  br
  #Projects

 