doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/page.js") 
    link(rel="icon", href='/images/favicon.png')
  body
    header 
      navbar.home-nav
        .space
          a(href="/")
            .logo KP
          ul.nav-list 
            li
            #dark-mode 
              .toggle-switch 
                label
                  input(type='checkbox', onclick="changeTheme()", id="themeSwitch")
                  .slider
            li
              a(href="https://github.com/KarolPapierz", target='_blank')
                image(src="/images/GitHub.png",alt="Github", id="githubImage")
            li
              a(href="mailto:papierz.karol@gmail.com", target='_blank')
                image(src="/images/email.png",alt="email",style="width:32px; height:32px;", id="emailImage")
            li 
              image(src="/images/resume.png",alt="resume",style="width:32px; height:32px;", id="resumeImage")
    block content
