:root {
  --light: #d8dbe0;
  --dark: #28292c;
}
.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #243133;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}


body {
  font: 3vh "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--color-secondary);
  color: var(--font-color);
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
  width: 80%;
}


.home-nav {
  position: absolute;
  width: 80%;
  display: flex;
  align-items: center;
  color: var(--font-color);
  font-weight: 700;
}

.logo {
  font-family: sans-serif;
  font-size: 4vh;
  text-decoration: none; 

}

a:link {
  color: var(--font-color);
  text-decoration: none; 
}

/* visited link */
a:visited {
  color: var(--font-color);
  text-decoration: none; 
}

/* mouse over link */
a:hover {
  color: var(--font-color);
  text-decoration: none; 
}

/* selected link */
a:active {
  color: var(--font-color);
  text-decoration: none; 
}

.wrapper {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 30px;
  align-items: center;
  justify-items: center;
}


.toggle-switch {
  position: absolute;
  width: 200px;
}

label {
  display: inline-block;
  width: 100%;
  height: 100px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

.slider {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(120%);
  background-color: var(--dark);
  box-shadow: none;
}



#Title{
padding-top: 10vh;
height: 80%;
margin-top: 10vh;
display:block;
font-style: bold;
color: var(--font-color);
font-weight: bold;
font-size:150%;
}

@keyframes rainbow{
    to {
    background-position: 4500vh;
}
}

#rainbow{
  display: inline;
  color: black;
  background: 
    linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  color:transparent;
  animation: rainbow 300s infinite;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.shownText{
  color:var(--font-color)
}

.scroll{
  padding-top: 15vh;
  cursor: pointer;
  display: block;
  margin: auto;
  font: inherit;
  color: inherit;
  align-content: flex;
  opacity: 1;
  transform: translate(0, 125%);
  background-color: transparent;
  border: none
}

#dark-mode{
  transform: translateY(-60px);
  zoom: 0.3;
}

.item {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding-top: ;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}